*{
  outline: none;
  border: none;
}
body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #151518 url(../images/pattern.jpg);
  color: #fff;
  margin: 0;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  font-family: "Cinzel", serif;
  top: 0;
  background-color: #000;
  width: 100%;
  height: 80px;
  z-index: 10;
}
.logo-full {
  width: 100%;
  height: 80px;
  /* background: url(../images/logofull1.png) no-repeat center; */
  background-size: contain;
}

.carousal {
  max-width: 100%;
  height: 700px;
  position: relative;
  /* margin-top: 80px; */
  z-index: 5;
}

.carousal .image {
  width: 100%;
  height: 700px;
  position: absolute;
  transition: all 500ms ease-in-out;
  background-attachment: fixed;
}

.carousal .image:first-child {
  background: url(../images/cover1.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
}

.carousal .image:nth-child(2) {
  background: url(../images/cover2.jpg) no-repeat center;
  opacity: 0;
  background-size: cover;
}

.carousal .image:nth-child(3) {
  background: url(../images/cover3.jpg) no-repeat center;
  background-size: cover;
  opacity: 0;
}

.overlay {
  background: url(../images/overlay-01.png);
  opacity: .5;
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: 3;
  top: 0;
}

.carousal .writings {
  position: absolute;
  text-align: center;
  z-index: 6;
  font-family: 'Montserrat', sans-serif;
  top: 150px;
  width: 100%;
}

.carousal .writings .small-logo {
  width: 100%;
  height: 150px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat center;
  background-size: contain;
}

.carousal .writings .line {
  width: 100%;
  color: #fff;
  font-size: 5em;
  letter-spacing: 5px;
  display: inline-block;
  font-weight: 100;
  font-family: "Shojumaru", cursive;
}

.carousal .writings .sub-line {
  width: 100%;
  color: #fff;
  font-size: 2em;
  letter-spacing: 1px;
  color: #FF0024;
  line-height: 100px;
  text-shadow: 1px 1px 2px #000;
  display: inline-block;
  font-weight: 100;
}

.carousal .writings .sub-line span {
  background-color: #00000099;
  padding: 5px 10px;
  border-radius: 10px;
}

.carousal .writings .theme-btn {
  display: inline-block;
  margin: 30px 30px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-shadow: 1px 1px 4px #000;
  color: #fff;
  font-size: 2em;
  padding: 10px;
  width: 30px;
  border: 4px solid #FFFFFF;
  border-color: #FFFFFF;
}

.carousal .writings .theme-btn:hover {
  text-shadow: 1px 1px 2px #000;
  color: #000;
  /* background-color: #FF0024;
  border: 4px solid #FF0024; */
}

.main {
  height: 1000px;
}

.music-player {
  width: 100%;
  height: 100px;
  background-color: #151518;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player .metadata {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  border-left: 0.5px solid #7f7f7f;
  border-right: 0.5px solid #7f7f7f;
}

.music-player .metadata .album-cover {
  width: 75px;
  height: 75px;
  background: url(../images/albumcover.jpg) no-repeat center;
  background-size: cover;
  margin-right: 15px;
}

.music-player .metadata .album-data .album-name {
  font-size: 0.9em;
  color: #6f6f6f;
  padding-top: 3px;
}

.music-player .controls {
  border-right: 0.5px solid #7f7f7f;
  height: 100px;
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.controls .icon-panel{
  display: flex;
}
.controls .icon-panel .icon{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;  
}
.controls .icon-panel .icon.play{
  width: 60px;
}
.controls .icon-panel .icon.play .bg{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF0024;
  border-radius: 40px;
}
.controls .icon-panel .play .bg i{
  font-size: 1.5em;
}
.icon .play-btn, .icon .pause-btn{
  position: absolute;
  transition: all 400ms ease-in-out;
}
.icon .pause-btn{
  opacity: 0;
}
.controls .progress{
  padding: 0 20px;
  display: flex;
  align-items:flex-end;
  flex-direction: column;
}
.controls .progress .track{
  width: 400px;
  position: relative;
  top: 2px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  height: 4px;
  border-radius: 2px;
}
.controls .progress .track.completed{
  position: relative;
  top: -2px;
  background-color: #FF0024;
  width: 0;
}
.controls .progress .time{
  display: flex;
  height: 30px;
  font-size: 0.9em;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  flex-direction: column;
  font-family: "Cinzel", serif;
}
.heading .heading-icons{
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}
.heading .heading-sub-text{
  font-size: 1.5em;
  color: #afafaf;
  padding: 50px 0 20px 0; 
}
.heading-icons .bar{
  width: 75px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.heading-icons .article-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.heading-icons .article-icon i{
  font-size: 1.4em;
}
.heading .heading-text{
  color: #FF0024;
  font-size: 3em;
  letter-spacing: 3px;
}
.members{
  display: flex;
  min-width: 100%;
  min-height: 500px;
  overflow-x: auto;
}

.members::-webkit-scrollbar {
  height: 10px;
}

.members::-webkit-scrollbar-track {

  background-color: #33333366;
}

.members::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #CCCCCC66;
}

.members .member-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  height: 500px;
  padding-bottom: 50px;
}
.members .member-card .member-name{
  font-weight: 600;
  font-size: 1em;
  font-family: "Cinzel", serif;
}
.members .member-card .member-photo{
  height: 450px;
  width: 330px;
}
.members .member-card .hover-data{
  width: 330px;
  height: 450px;
  position: relative;
  float: left;
  overflow: hidden;
}
.member-card .hover-data .background-color{
  position: absolute;
  background-color: rgba(255, 0, 36, 0.7);
  opacity: 0;
  width: 330px;
  height: 450px;
  transition: all 500ms ease-in-out;
}
.member-card .hover-data .sliding-elements{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 450px;
  justify-content:  space-between;
  position: absolute;
}
.hover-data .sliding-elements .social-icons{
  display: flex;
  flex-direction: column;
}
.hover-data .sliding-elements .social-icons .container{
  position: relative;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 1.4em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
.hover-data .sliding-elements .about-person{
  position: relative;
  top: 450px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  line-height: 28px;
  transition: all 300ms ease-in-out;
  text-shadow: 1px 1px 2px #000;
}
.member-photo-container:hover .background-color{
  opacity: 1;
}
.member-photo-container .social-icons .container:first-child{
  transition: all 300ms ease-in-out;
}
.member-photo-container .social-icons .container:nth-child(2){
  transition: all 300ms ease-in-out 50ms;
}
.member-photo-container .social-icons .container:nth-child(3){
  transition: all 300ms ease-in-out 100ms;
}
.member-photo-container .social-icons .container:hover{
  color: #FF0024
}
.member-photo-container:hover .social-icons .container{
  left: 0;
}
.member-photo-container:hover .about-person{
  top: 0;
}

.contact{
  width: 100%;
  background: url(../images/bg-contact.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 0;  
  padding-bottom: 100px;
}
.contact .contact-body{
  display: flex;
  justify-content: center;
}
.contact .email-form{
  flex-grow: 2;
  max-width: 600px;
  padding: 0 25px;
}
.contact .email-form .form-input{
  padding: 20px 0;
}
.contact .email-form .form-input .input-label{
  position: relative;
  font-size: 0.9em;
  color: #929292;
}
.contact input[type=text]{
  height: 35px;
}
.contact textarea{
  height: 70px;
}
.contact input[type=text]:focus,.contact textarea:focus{
  border-bottom: 2px solid #FF0024;
}
.contact input[type=text]:focus{
  color: #fff;
}
.contact input[type=text],.contact textarea{
  background: transparent;
  font-family: "Monteserrat",sans-serif;
  color: #fff;
  font-size: 1.04em;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  width: 90%;
  transition: border-color 500ms ease-in-out;
}
.contact .form-input button{
  width: 150px;
  cursor: pointer;
  padding: 10px 0;
  background-color: #FF0024;
  color: #ddd;
  font-weight: 800;
  border-radius: 40px;
}
.contact .form-input button:hover{
  background-color: #67686c;
}
.make-red{
  color: #FF0024;
  text-shadow: 1px 1px 2px #000;
}
.contact .contact-details{
  width: 400px;
}
.contact .contact-details .head{
  font-weight: 1000;
  padding: 10px 0;
}
.contact .contact-details .address-write{
  padding: 10px 0  ;
}
.contact .contact-details .phone-mail{
  padding: 30px 0;
}
.contact .contact-details .phone-mail i{
  margin-right: 10px;
  font-size: 1.3em;
}
.contact .contact-details .phone,.contact .contact-details .mail{
  padding: 10px 0;
}
.contact .contact-details .other-social .social-icon-panel{
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.contact-details .other-social .social-icon-panel .theme-btn{
  border: 2px solid #9f9f9f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  height: 60px;
  width: 60px;
  transition: all 200ms ease-in-out;
}
.contact-details .other-social .social-icon-panel .theme-btn:hover{
  background-color: #FF0024;
  border: 2px solid #FF0024;
  color: #000;
}
.footer{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  background-color: #FF0024; 
  padding: 0 30px; 
}
footer .other{
  font-size: 0.9em;
}
@media only screen and (max-width:1200px) {
  .nav-menu {
    display: none;
  }
  .header {
    background-color: #151518;
  }
  .logo-full {
    width: 100%;
  }
/* .members::-webkit-scrollbar{
  display: none;
  } */
}


.breathe {
  transition: color 500ms ease-in-out;
}

.breathe-bg {
  transition: background-color 500ms ease-in-out;
}